body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f3f3f3;
  font-family: Arial, sans-serif;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 250px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
}
.title {
  font-size: 18px;
  margin: 12px 0;
}

.price {
  font-size: 20px;
  color: #b12704;
  margin-bottom: 12px;
}
